name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Compile Tests
      run: |
        mkdir -p build
        gcc -O3 -mavx2 -I src tests/test_header.c -o build/test_header
        gcc -O3 -mavx2 -I src tests/test_lz77.c -o build/test_lz77
        
    - name: Run Header Test
      run: ./build/test_header
      
    - name: Run LZ77 Test
      run: ./build/test_lz77
